.navbar{
    background: #fff;
    margin-bottom: 0px;
    border-radius: 0;
}

.navbar-brand{
    color: #7451eb;
    font-weight: 600;
}

li{
    font-weight: 400;
}

li:active{
    color: #7451eb;
}

.btn-outline-primary{
    margin-top: 10px;
    margin-right: 20px;
    background: #7451eb;
    color: #fff;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(102,102,102,1);
    -moz-box-shadow: 0px 5px 10px -5px rgba(102,102,102,1);
    box-shadow: 0px 5px 10px -5px rgba(102,102,102,1);
}

.btn-outline-primary:hover{
    box-shadow: inset 0px 5px 10px -5px rgba(102,102,102,1);
}