<header>
  <div class="header">
    <div class="header__bg"></div>
    <div class="header__logo">
          <img src="../../../assets/icones/IAM_LOGO.png" alt="Logo_IAM">
      </div>
      <h1 class="header__title">Institut Africain de Management</h1>
      <div class="header__log">
        <svg class="header__log--icon" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
        </svg>
        <p class="header__log--text connexion">Se Connecter</p> 
      </div>
  </div>
</header>
