// Color
$primary: #7451eb;
$primaryOpacity_1: #9074ef;
$primaryOpacity_2: #7d59f7;
$white: #fff;

// Shadow
$shadow-inset: inset 0px 5px 10px -5px rgba(102,102,102,1);
$shadow-outline: 0px 5px 10px -5px rgba(102,102,102,1);

// Radius
$redius: 2px;

.navbar{
    background: $white;
    margin-bottom: 0px;
    border-radius: 0;

    .navbar-brand{
        color: $primary;
        font-weight: 600;
    }

    .navbar-nav{
        margin-left: 20px;

        .nav-item{
            margin-right: 20px;
            font-weight: 400;
            color: $primary;
            padding: 5px 10px;
            border-radius: $redius;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: $white;
                background: $primaryOpacity_1;
                -webkit-transition: background-color 1000ms linear;
                -ms-transition: background-color 1000ms linear;
                transition: background-color 1000ms linear;
            }

            a{
                color: $primary;

                &:hover{
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    .navbar-toggler{
        background: $primary;

        .navbar-toggler-icon{
            color: $white;
            width: 1.2em;
            height: 1.2em;
        }
    }
}

.btn-outline-primary{
    margin-top: 5px;
    margin: 0px 20px;
    background: $primary;
    border: none;
    color: $white !important;
    -webkit-box-shadow: $shadow-outline;
    -moz-box-shadow: $shadow-outline;
    box-shadow: $shadow-outline;

    &:hover{
        box-shadow: $shadow-inset;
    }
    
    a{
        color: $white;
    }
}

.jumbotron{
    background: $primary;
    color: $white;
    -webkit-box-shadow: $shadow-inset;
    -moz-box-shadow: $shadow-inset;
    box-shadow: $shadow-inset;
    transition: all 0.3s ease-in-out;

    p{
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    &:hover{
        background: $primaryOpacity_2;
        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }
}