// Color
$primary: #7451eb;
$white: #fff;

// Shadow
$shadow-inset: inset 0px 5px 10px -5px rgba(102,102,102,1);
$shadow-outline: 0px 5px 10px -5px rgba(102,102,102,1);

.navbar{
    background: $white;
    margin-bottom: 0px;
    border-radius: 0;

    .navbar-brand{
        color: $primary;
        font-weight: 600;
    }

    .navbar-nav{
        margin-left: 20px;

        .nav-item{
            margin-right: 20px;
            font-weight: 400;
            color: $primary;
        }
    }

    .navbar-toggler{
        background: $primary;

        .navbar-toggler-icon{
            color: $white;
            width: 1.2em;
            height: 1.2em;
        }
    }
}

.btn-outline-primary{
    margin-top: 5px;
    margin: 0px 20px;
    background: $primary;
    border: none;
    color: $white;
    -webkit-box-shadow: $shadow-outline;
    -moz-box-shadow: $shadow-outline;
    box-shadow: $shadow-outline;

    &:hover{
        box-shadow: $shadow-inset;
    }
}

.jumbotron{
    background: $primary;
    color: $white;
    -webkit-box-shadow: $shadow-inset;
    -moz-box-shadow: $shadow-inset;
    box-shadow: $shadow-inset;

    p{
        font-size: 14px;
        letter-spacing: 0.5px;
    }
}