// Color
$primary: #7451eb;
$primaryOpacity_1: #9074ef;
$white: #fff;
$grey: #f0f0f0;

$radius: 5px;

// Shadow
$shadow-inset: inset 0px 5px 10px -5px rgba(102,102,102,1);
$shadow-outline: 0px 5px 10px -5px rgba(102,102,102,1);

.btn-outline-primary{
    border: 1px solid $primary;
    color: $primary;

    &:hover{
        color: $white;
        background: $primary;
    }
}

.card-list{

    .card{
        cursor: pointer;
        border: none;
        top: 0;
        margin: 15px 0px;
        padding: 0px;
        transition: all 0.3s ease-in-out;

        &:hover{
            background: $primaryOpacity_1;
            -webkit-transition: background-color 1000ms linear;
            -ms-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;
            top: -2px;
            color: $white;
        }
    }
}