// Color
$primary: #7451eb;
$white: #fff;

$radius: 5px;

// Shadow
$shadow-inset: inset 0px 5px 10px -5px rgba(102,102,102,1);
$shadow-outline: 0px 5px 10px -5px rgba(102,102,102,1);

.btn-outline-primary{
    border: 1px solid $primary;
    color: $primary;

    &:hover{
        color: $white;
        background: $primary;
    }
}


.card-list{
    display: flex;

    .card{
        padding-bottom: 20px;
        border: none;
    }
}
