/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,400i,600i,700,700i&display=swap');

/* Import bootstrap */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/*
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include mat-core();

@import "themes/custom-theme.scss";

@include angular-material-theme($app-custom-theme);

.custom-theme {
  @include angular-material-theme($app-custom-theme);
  //@include custom-components-theme($app-custom-theme);
}*/
// Default styles
body {
  margin: 0;
  padding: 0;
  background: #fff;
  
  font-family: 'Montserrat', sans-serif;
}
